.ss-landing-page-wrapper{
  padding: 4rem;
}

.ss-page-heading-wrapper{
  height: 20%;
  width: 100%;
}

.ss-page-heading{
  font-size: 48px;
  color: #006633;
}

.ss-body-wrapper{
   height: 80%;
   width: 100%;
}

.ss-card {
  height: 30%;
  width: 50%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ss-survey-form:link, .ss-survey-form:visited {
  background-color: #006633;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ss-survey-form:hover, .ss-survey-form:active {
  background-color: #014f28;
}

.ss-survey-archieves:link, .ss-survey-archieves:visited {
  background-color: #FFCC33;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ss-survey-archieves:hover, .ss-survey-archieves:active {
  background-color: #fcc51e;
}


