<div fxLayout="column" fxLayoutAlign="center center" class="ss-width-100vw ss-height-100vh">
  <div fxLayout="column" class="ss-landing-page-wrapper ss-width-100 ss-height-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="ss-page-heading-wrapper">
      <div>
        <h1 class="ss-page-heading">Welcome to Student Surveys</h1>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start" class="ss-body-wrapper">
      <div fxLayout="row" fxLayoutAlign="center center" class="ss-card">
        <div fxLayout="column" fxFlex="50" class="ss-height-100" fxLayoutAlign="center center">
          <a class="ss-width-100 ss-height-100 ss-survey-form" fxLayoutAlign="center center" href="/surveyform">
            Fill Survey Form
          </a>
        </div>
        <div fxLayout="column" fxFlex="50"  class="ss-height-100"  fxLayoutAlign="center center">
          <a class="ss-width-100 ss-height-100 ss-survey-archieves" fxLayoutAlign="center center" href="/surveyarchieves">
            Survey Archieves
          </a>
        </div>
      </div>
    </div>
  </div>
</div>