.ss-landing-heading-wrapper{
    height: 20%;
    width: 100%;
}

.ss-landing-heading{
    width: 60%;
}

.ss-text-color-green{
    color: #006633;
}

.ss-data-wrapper{
    height: 80%;
    width: 100%;
}

.ss-data-card{
    height: 90%;
    width: 90%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ss-card-header{
    height: 10%;
    width: 100%;
}

.ss-btn-wrapper{
    margin-right: 0.5rem;
}

table {
    width: 100%;
  }

.table-wrapper{
    width: 100%;
    height: 90%;
    overflow-y: auto;
  }

.ss-data-table-height{
    height: 100%;
}  
